[package]
name = "sim_qr_reader"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
screenshots = "0.8.5"
image = "0.24.7"
quircs = "0.10.0"
anyhow = "1.0.75"
cocoa = "0.24.1"