[package]
name = "rust_c"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [
    "src/kt_allocator",
    "src/common",

    "src/bitcoin",
    "src/ethereum",
    "src/solana",
    "src/aptos",
    "src/near",
    "src/cosmos",
    "src/cardano",
    "src/sui",
    "src/tron",
    "src/xrp",
    "src/arweave",
    "src/ton",

    "src/wallet",
    "src/wallet/src/btc_only_wallet",
    "src/wallet/src/multi_coins_wallet",

    "src/test_cmd",
    "src/test_cmd/src/btc_test_cmd",
    "src/test_cmd/src/general_test_cmd",
]

[dependencies]
kt_allocator = { path = "./src/kt_allocator" }

common_rust_c = { path = "./src/common", default-features = false, optional = true }
bitcoin_rust_c = { path = "./src/bitcoin", default-features = false, optional = true }
wallet_rust_c = { path = "./src/wallet", default-features = false, optional = true }
test_cmd = { path = "./src/test_cmd", default-features = false, optional = true }

ethereum_rust_c = { path = "./src/ethereum", optional = true }
solana_rust_c = { path = "./src/solana", optional = true }
aptos_rust_c = { path = "./src/aptos", optional = true }
near_rust_c = { path = "./src/near", optional = true }
cosmos_rust_c = { path = "./src/cosmos", optional = true }
cardano_rust_c = { path = "./src/cardano", optional = true }
sui_rust_c = { path = "./src/sui", optional = true }
tron_rust_c = { path = "./src/tron", optional = true }
xrp_rust_c = { path = "./src/xrp", optional = true }
arweave_rust_c = { path = "./src/arweave", optional = true }
ton_rust_c = { path = "./src/ton", optional = true }


[lib]
crate-type = ["staticlib"]

[features]
debug-memory = [
    "default",
    "common_rust_c/debug-memory",
    "ethereum_rust_c/debug-memory",
    "bitcoin_rust_c/debug-memory",
    "wallet_rust_c/debug-memory",
    "test_cmd/debug-memory",
    "solana_rust_c/debug-memory",
    "aptos_rust_c/debug-memory",
    "near_rust_c/debug-memory",
    "cosmos_rust_c/debug-memory",
    "cardano_rust_c/debug-memory",
    "sui_rust_c/debug-memory",
    "tron_rust_c/debug-memory",
    "xrp_rust_c/debug-memory",
    "ton_rust_c/debug-memory",
]
simulator = ["multi-coins", "no-allocator", "sui_rust_c/simulator"]
simulator_btc_only = ["btc-only", "no-allocator"]
no-allocator = []
default = ["multi-coins"]
multi-coins = [
    "common_rust_c/multi-coins",
    "bitcoin_rust_c/multi-coins",
    "wallet_rust_c/multi-coins",
    "test_cmd/multi-coins",
    "ethereum_rust_c",
    "solana_rust_c",
    "aptos_rust_c",
    "near_rust_c",
    "cosmos_rust_c",
    "cardano_rust_c",
    "sui_rust_c",
    "tron_rust_c",
    "xrp_rust_c",
    "arweave_rust_c",
    "ton_rust_c",
]
btc-only = [
    "common_rust_c/btc-only",
    "bitcoin_rust_c/btc-only",
    "wallet_rust_c/btc-only",
    "test_cmd/btc-only",
]
test_feature = []
[dev-dependencies]
keystore = { path = "../keystore" }

[patch.crates-io.bitcoin]
git = "https://github.com/KeystoneHQ/rust-bitcoin.git"
tag = "v0.31.2"
default-features = false
features = ["no-std", "secp-recovery"]
