[workspace]
resolver = "2"
members = [
    # apps
    "apps/aptos",
    "apps/arweave",
    "apps/bitcoin",
    "apps/cardano",
    "apps/cosmos",
    "apps/ethereum",
    "apps/near",
    "apps/solana",
    "apps/stellar",
    "apps/sui",
    "apps/ton",
    "apps/tron",
    "apps/utils",
    "apps/wallets",
    "apps/xrp",
    "apps/zcash",
    "apps/avalanche",

    # C interface entry
    "rust_c",

    # other
    "keystore",
    "sim_qr_reader",
    "tools",
    "zcash_vendor",
]

[workspace.dependencies]
app_aptos = { path = "apps/aptos" }
app_arweave = { path = "apps/arweave" }
app_bitcoin = { path = "apps/bitcoin" }
app_cardano = { path = "apps/cardano" }
app_cosmos = { path = "apps/cosmos", default-features = false }
app_ethereum = { path = "apps/ethereum" }
app_avalanche = { path = "apps/avalanche" }
app_near = { path = "apps/near" }
app_solana = { path = "apps/solana" }
app_stellar = { path = "apps/stellar" }
app_sui = { path = "apps/sui" }
app_ton = { path = "apps/ton" }
app_tron = { path = "apps/tron" }
app_utils = { path = "apps/utils" }
app_wallets = { path = "apps/wallets" }
app_xrp = { path = "apps/xrp" }
app_zcash = { path = "apps/zcash" }
app_monero = { path = "apps/monero" }
keystore = { path = "keystore", default-features = false }
tools = { path = "tools" }
sim_qr_reader = { path = "sim_qr_reader" }
rust_tools = { path = "tools" }
zcash_vendor = { path = "zcash_vendor" }

# third party dependencies
cty = "0.2.0"
cstr_core = "0.2.6"
either = { version = "1.13.0", default-features = false }
hex = { version = "0.4.3", default-features = false, features = ["alloc"] }
itertools = { version = "0.13.0", default-features = false, features = [
    "use_alloc",
] }
bitcoin = { version = "0.32.4", default-features = false, features = [
    "secp-recovery",
] }
bech32 = { version = "0.11.0", default-features = false, features = ["alloc"] }
bitcoin_hashes = { version = "0.14.0", default-features = false }
core2 = { version = "0.3.3", default_features = false, features = ["alloc"] }
thiserror = { version = "1.0", package = "thiserror-core", default-features = false }
rsa = { version = "0.8.2", default-features = false }
sha1 = { version = "0.10.5", default-features = false }
ur-registry = { git = "https://git@github.com/KeystoneHQ/keystone-sdk-rust.git", tag = "0.0.48" }
ur-parse-lib = { git = "https://git@github.com/KeystoneHQ/keystone-sdk-rust.git", tag = "0.0.48" }
ed25519-bip32-core = { version = "0.1.1", default-features = false }
cryptoxide = "0.4"
arrayref = "0.3.6"
num-bigint-dig = { version = "0.8.2", default-features = false }
base64 = { version = "0.11.0", default-features = false, features = ["alloc"] }
unicode-blocks = "0.1.6"
bcs = { git = "https://github.com/KeystoneHQ/bcs.git", tag = "0.1.1" }
blake2 = { version = "0.10.6", default-features = false }
serde_json = { version = "1.0.95", default-features = false, features = [
    'alloc',
] }
serde = { version = "1.0.139", default-features = false, features = [
    'derive',
    'alloc',
] }
serde_derive = { version = "1.0.159" }
serde_bytes = { version = "0.11.5", default-features = false, features = [
    "alloc",
] }
rand_core = { version = "0.6" }
rand_chacha = { version = "0.3.1", default-features = false }
sha2 = { version = "0.10.6", default-features = false, features = ["oid"] }
aes = { version = "0.8.4", default-features = false }
cbc = { version = "0.1.2", default-features = false }
cipher = { version = "0.4.4", default-features = false, features = [
    "block-padding",
    "alloc",
] }
lazy_static = "1.4.0"
ref-cast = "1.0.16"
tendermint-proto = "0.32"
prost = { version = "0.11", default-features = false }
prost-types = { version = "0.11", default-features = false }
num-bigint = { version = "0.4.5", default-features = false }
num-integer = { version = "0.1.46", default-features = false }
num-traits = { version = "0.2.19", default-features = false }
blake2b_simd = { version = "1.0.2", default-features = false }
getrandom = "0.2"
minicbor = { version = "0.19", features = ["alloc"] }
# third party dependencies end

[patch.crates-io]
bip32 = { git = "https://github.com/KeystoneHQ/crates.git", rev = "9873e8fd56007d792fa60d6e844fdb75d527c858" }
f4jumble = { git = "https://github.com/zcash/librustzcash.git", rev = "9407f09208d5574a3ba7bf3e6963741114ba77c2" }
nonempty = { git = "https://github.com/nuttycom/nonempty.git", rev = "38d37189faecb2a0e3d6adc05aa24e1b93c2483b" }
orchard = { git = "https://github.com/zcash/orchard.git", rev = "e0cc7ac53ad8c97661b312a8b1c064f4cd3c6629" }
pczt = { git = "https://github.com/zcash/librustzcash.git", rev = "9407f09208d5574a3ba7bf3e6963741114ba77c2" }
transparent = { package = "zcash_transparent", git = "https://github.com/zcash/librustzcash.git", rev = "9407f09208d5574a3ba7bf3e6963741114ba77c2" }
zcash_address = { git = "https://github.com/zcash/librustzcash.git", rev = "9407f09208d5574a3ba7bf3e6963741114ba77c2" }
zcash_encoding = { git = "https://github.com/zcash/librustzcash.git", rev = "9407f09208d5574a3ba7bf3e6963741114ba77c2" }
zcash_keys = { git = "https://github.com/zcash/librustzcash.git", rev = "9407f09208d5574a3ba7bf3e6963741114ba77c2" }
zcash_protocol = { git = "https://github.com/zcash/librustzcash.git", rev = "9407f09208d5574a3ba7bf3e6963741114ba77c2" }
