on:
  pull_request:
    paths:
      - rust/apps/zcash/**

name: Zcash Checks

jobs:
  UnitTest:
    name: Unit Test And Code coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-05-01
          override: true
          components: rustfmt
          target: x86_64-apple-darwin

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Run rust/apps/zcash
        run: cd rust/apps/zcash && cargo +nightly-2025-05-01 llvm-cov  --fail-under-regions 69 --fail-under-functions 67 --fail-under-lines 74 --ignore-filename-regex 'keystore/*|utils/*|zcash_vendor/*'
