on:
  pull_request:
    paths:
      - rust/apps/aptos/**

name: Aptos Checks

jobs:
  UnitTest:
    name: Unit Test And Code coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2025-05-01
          override: true
          components: rustfmt
          target: x86_64-apple-darwin

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Run rust/apps/aptos
        run: cd rust/apps/aptos && cargo +nightly-2025-05-01 llvm-cov --fail-under-regions 50 --fail-under-functions 70 --fail-under-lines 65 --ignore-filename-regex 'keystore/*|utils/*'
